<div class="row">
    <div class="col-md-12">
        <form id="sign.frmfrgPassword" name="sign.frmfrgPassword" ng-submit="forget(username)" ng-class="{'submitted':submitted}" novalidate>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" class="form-control" ng-model="username" placeholder="username" required />
                </div>                
            </div>
            <button type="submit" class="btn btn-block bt-login"  ng-click="submitted = true;"><i class="fa fa-key"></i>&nbsp;Submit</button>
            <div class="form-group pull-left">
                <div class="col-md-12" style="color: red;"><b>{{ errMsg3 }}</b></div>
            </div>
        </form>
        <div class="clear"></div>
        <div class="login-modal-footer">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <i class="fa fa-lock"></i>
                    <a href="javascript:;" class="signin-tab" ng-click="tabs[0].active = true">Sign In </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <i class="fa fa-check"></i>
                    <a href="javascript:;" class="signup-tab" ng-click="tabs[1].active = true">Sign Up </a>
                </div>
            </div>
        </div>

    </div>
</div>
