<div class="container pageWrapper">
    <section class="hero-unit">
        <section class="welcome">
            <h1>Customer Service</h1>
            <p>Welcome to the Scoopon Help Centre</p>
        </section>
        <form id="searchBar">
            <input class="search-query" type="text" value="" placeholder="How can we help you?" title="search-query" name="query">
            <button type="button">
                <i class="icon-search lp"></i>
                <span>Search</span>
            </button>
        </form>
        <div class="clear"></div>
    </section>
    <section id="contentArea" class="container-fluid">
        <section id="collection-category-264" class="collection-category">
            <h2 id="collection-264">
                <a href="#">Booking</a>
            </h2>
            <section class="category-list">
                <a class="category">
                    <h3>Announcements</h3>
                    <p>How do I get in contact with Scoopon?</p>
                    <p class="article-count"><span class="notranslate">2</span>articles</p>
                </a>
                <a class="category">
                    <h3>About Today's Deal</h3>
                    <p>What is "About Today's Deal"?</p>
                    <p class="article-count"><span class="notranslate">19</span>articles</p>
                </a>
                <a class="category">
                    <h3>My Scoopon Account</h3>
                    <p>What is "My Scoopon Account" about?</p>
                    <p class="article-count"><span class="notranslate">19</span>articles</p>
                </a>
                <a class="category">
                    <h3>Redeeming My Scoopon</h3>
                    <p>What does "Redeeming My Scoopon" mean?</p>
                    <p class="article-count"><span class="notranslate">26</span>articles</p>
                </a>
                <a class="category">
                    <h3>Shipping Information</h3>
                    <p>What does "Shipping Information" mean?</p>
                    <p class="article-count"><span class="notranslate">15</span>articles</p>
                </a>
                <a class="category">
                    <h3>Returns & Warranty Information</h3>
                    <p>What does "Returns & Warranty Information" mean?</p>
                    <p class="article-count"><span class="notranslate">4</span>articles</p>
                </a>
                <a class="category">
                    <h3>Feedback and General Enquiries</h3>
                    <p>Did you receive this email? "Not read: [Scoopon Help Centre]"</p>
                    <p class="article-count"><span class="notranslate">4</span>articles</p>
                </a>
            </section>
        </section>
    </section>
</div>
