<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="vendorsFilesPath" value="/UploadedFiles/{0}/{1}" />
    <add key="vendorsPortal" value="/vendors" />
  </appSettings>
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network" from="rxshopy@gmail.com">
        <network host="smtp.gmail.com" defaultCredentials="false" port="587" enableSsl="true" userName="rxshopy@gmail.com" password="rxshopy@2016" />
      </smtp>
    </mailSettings>-->
    <mailSettings>
      <smtp deliveryMethod="Network" from="mailer@rxshopy.com">
        <network host="smtpout.secureserver.net" defaultCredentials="false" port="80" enableSsl="false" userName="mailer@rxshopy.com" password="New528723" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <trust level="Full" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, &#xD;&#xA;        Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
      <!-- ADD THIS -->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="dbEntity" connectionString="metadata=res://*/Models.dbEntity.csdl|res://*/Models.dbEntity.ssdl|res://*/Models.dbEntity.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.62.209.75;user id=rxshopy;password=H@v3Mor38521;persistsecurityinfo=True;database=RxShopy&quot;" providerName="System.Data.EntityClient" />-->
    <add name="dbEntity" connectionString="metadata=res://*/Models.dbEntity.csdl|res://*/Models.dbEntity.ssdl|res://*/Models.dbEntity.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.68;user id=sa;password=tiger;persistsecurityinfo=True;database=deals2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" layout="${date:universalTime=false:format=HH.mm.ss.fff}|${message}" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>